:root {
  --color-light-1: #fcf7f8;
  --color-light-2: #b5b5b5;
  --color-light-3: #808080;
  --color-links: #2ec0f9;
  --color-dark-1: #121212;
  --color-dark-2: #1a1a1a;
  --color-dark-3: #2e2e2e;
  --color-shadow: rgba(255, 255, 255, 0.2);
  --leter-spacing: 0.04em;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-light-1: #121212;
    --color-light-2: #2e2e2e;
    --color-light-3: #808080;
    --color-links: #2ec0f9;
    --color-dark-1: #ffffff;
    --color-dark-2: #f9f9f9;
    --color-dark-3: #e5e5e5;
    --color-shadow: rgba(0, 0, 0, 0.2);
  }
}

html {
  background-color: var(--color-dark-1);
}

body {
  color: var(--color-light-1);
  line-height: 1.8;
  letter-spacing: var(--leter-spacing);
}

a {
  color: var(--color-links);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

h1 {
  margin: 0;
  font-size: 2.25em;
}

h2 {
  margin: 0;
  font-size: 1.9em;
}

p {
  color: var(--color-light-2);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
}

th,
td {
  border: 1px solid var(--color-light-3);
  padding: 4px 10px;
  text-align: left;
}

.page {
  max-width: 800px;
  margin: 4em auto;
  padding: 0 25px;
}

.section {
  margin: 2em 0;
}

.box,
.unhoverableBox {
  border-radius: 16px;
  overflow: hidden;
  outline: 1px solid var(--color-dark-3);
}

.videoContainer {
  position: relative;
  padding-top: 56.25%;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.videoIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0.03);
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  /* Only apply the filter effect to links that don't have images or videos */
  a:hover:not(:has(img)):not(:has(video)) {
    filter: brightness(1.2);
  }

  .box:hover {
    background-color: var(--color-dark-2);
    transform: translateY(-2px) scale(1.007);
    box-shadow: 0 8px 20px var(--color-shadow);
    transition: all 0.2s ease-in-out;
  }

  .videoContainer:hover {
    transform: scale(1.01);
  }
}

@media (max-width: 745px) {
  table {
    display: flex;
    flex-direction: column;
  }

  thead {
    display: none;
  }

  tr {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }

  td {
    border: none;
    padding-left: 0px;
  }

  .hideOnMobile {
    display: none;
  }
}