:root {
  --color-light-1: #fcf7f8;
  --color-light-2: #b5b5b5;
  --color-light-3: #808080;
  --color-links: #2ec0f9;
  --color-dark-1: #121212;
  --color-dark-2: #1a1a1a;
  --color-dark-3: #2e2e2e;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-light-1: #121212;
    --color-light-2: #2e2e2e;
    --color-light-3: #808080;
    --color-links: #2ec0f9;
    --color-dark-1: #fcf7f8;
    --color-dark-2: #f5f5f5;
    --color-dark-3: #e5e5e5;
  }
}

html {
  background-color: var(--color-dark-1);
}

body {
  /* text */
  color: var(--color-light-1);
  font-size: 0.99em;
  line-height: 2;
  letter-spacing: 0.04em;

  /* links */
  a {
    color: var(--color-links);
  }
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0em;
}

p {
  line-height: 1.5;
  color: var(--color-light-2);
}

/* lists */

ul li {
  list-style-type: "-     ";
  margin: 1.2em 0;

  /* bullet color */
  color: var(--color-light-3);
}

li span {
  /* text color */
  color: var(--color-light-1);
}

/* sub lists */
ul li li {
  margin: 0.35em 0;
}

.centeredDiv {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 25px;
}

.box {
  border-radius: 16px;
  outline: 1px solid var(--color-dark-3);
}

.box:hover {
  background-color: var(--color-dark-2);
}