:root {
  --color-light-1: #fcf7f8;
  --color-light-2: #b5b5b5;
  --color-light-3: #808080;
  --color-links: #2ec0f9;
  --color-dark-1: #121212;
  --color-dark-2: #1a1a1a;
  --color-dark-3: #2e2e2e;
  --color-shadow: rgba(255, 255, 255, 0.2);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-light-1: #121212;
    --color-light-2: #2e2e2e;
    --color-light-3: #808080;
    --color-links: #2ec0f9;
    --color-dark-1: #ffffff;
    --color-dark-2: #f9f9f9;
    --color-dark-3: #e5e5e5;
    --color-shadow: rgba(0, 0, 0, 0.2);
  }
}

html {
  background-color: var(--color-dark-1);
}

body {
  color: var(--color-light-1);
  font-size: 0.99em;
  line-height: 2;
  letter-spacing: 0.04em;

}

a {
  color: var(--color-links);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0em;
}

p {
  line-height: 1.5;
  color: var(--color-light-2);
}

ul li {
  list-style-type: "-     ";
  margin: 1.2em 0;

  /* bullet color */
  color: var(--color-light-3);
}

li span {
  /* text color */
  color: var(--color-light-1);
}

ul li li {
  margin: 0.35em 0;
}

.centeredDiv {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 25px;
}

.box {
  border-radius: 16px;
  outline: 1px solid var(--color-dark-3);
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    filter: brightness(1.2);
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  .box:hover {
    background-color: var(--color-dark-2);
    transform: translateY(-2px) scale(1.007);
    box-shadow: 0 8px 20px var(--color-shadow);
    transition: all 0.2s ease-in-out;
  }
}