.me {
    line-height: normal;
    margin: 8px 0px;
}

.meLocation {
    display: flex;
    gap: 10px;
    color: var(--color-light-2);
}

.box {
    border-radius: 16px;
    outline: 1px solid var(--color-dark-2);
}